@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/hero.jpg");
    background-position: center;
}

.text-shadow {
    text-shadow: 2px 2px 2px #00000080;
}

.flashes h4 {
    line-height: 1.5;
    margin-top: 1%;
} 

h1 {
    text-align: center;
    color: #004d40;
    font-size: 6em;
}

h2 {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
}

h3 {
    font-size: 2.1rem;
}

h4 {
    font-size: xxx-large;
}

h5 {
    background-color: #8b3747;
    color: white;
    font-size: x-large;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border: 1px solid #9e9e9e;
}

/* logo */
.logo-fork {
    height: 100%; 
}

/* Hero */
.row-hero {
    
}
.container {
    margin-block: 4.5px;
    margin-top: 2%;
    width: 100%;
    height: 100%;
}

.hero {
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0.5rem 0.5rem 0.5rem #bcbfc2, 0.5rem 0.5rem 0.5rem #fff;
}

.hero-text {
    font-size: xx-large;
    text-align: end;
    padding: 2%;
    margin-top: 1%;
    background-color: #8b3747d9;
    color: #fff;
}

/* navbar */
nav ul a {
    font-size: 1.5rem;
}

.sidenav {
    top: auto;
    padding-top: 2%;
}

/* login.html */
.login {
    font-size: xx-large;
    background: #8b3747;
}

#info-log {
    margin-left: 3%;
    width: 94%;
    margin-bottom: 0.5%;
}

#login-page {
    width: 65%;
}

#reg-page {
    margin-left: 1.5%;
    width: 97%;
}

.center, .center-align {
    text-align: center;
    color: #fff;
    margin: 0;
}

.row-log {
    margin: 0 auto;
    padding-top: 2%;
}

.reg-link {
    color: #d163b6;
}

.card-panel {
    background: #eee;
}

/* profile.html */

#profile-info {
    font-size: xxx-large;
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: 0.5rem 0.5rem 0.5rem #bcbfc2, 0.5rem 0.5rem 0.5rem #fff;
    border: 5px solid #424242;
}

.teal-text.text-darken-4 {
    color: #004d40 !important;
    font-size: 5rem;
}

/* Adjust button styles */
#delete-btn {
    margin-left: 3%;
    margin-bottom: 2%;
    background-color: red;
}

.amber.accent-1 {
    background-color: #ffe57f !important;
    border: 2px solid #424242 ;
    border-radius: 6px;
    margin: 5px;
}

.btn-large {
    height: fit-content;
    font-size: large;
    border: 2px solid #424242 ;
    border-radius: 6px;
    font-weight: bold;
    background-color: #ff0000;
}

.btn {
    font-size: 20px;
    font-weight: 800;
    background-color: #d163b6;
    color: #faebd7;
}

#red-btn {
    width: -webkit-fill-available;
}

#login-button {
    background-color: #004d40;
}

.green.darken-3 {
    background-color: #2E7D32 !important;
    width: -webkit-fill-available;
} 

/* add_recipe.html */
.input-field>label {
    font-size: 1.5rem;
}

/* categories.html*/

.row-category {
    margin-bottom: 5%;
}

#edit-div {
    width: 70%;
    height: auto;
}

.row-one .col .s12 {
    position: relative;
}

#cat-div {
    border-radius: 10px;
    background-image: url("../images/categories.jpg");
    background-size: 100%;
    background-blend-mode: color-burn;
}

.grey.lighten-3 {
    background-color: #fafafa !important;
    margin-bottom: 5%;
    border: 5px solid #004d40;
    box-shadow: 0.5rem 0.5rem 0.5rem #bcbfc2, 0.5rem 0.5rem 0.5rem #fff;
}

#all-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
}

#edit-cat {
    padding-top: 4%;
    padding-bottom: 4%;
}

.description-cat {
    font-size: xx-large;
    font-weight: bolder;
    color: #e63253;
    text-align: center;
}

/* recipes.html */

.link {
    color: #e63253;
}

.yellow {
    margin-right: 87%;
    margin-top: 3%;
}

.card .card-content {
    padding: 15px;
}

.activator {
    width: 100%;
}

#recipe-card {
    width: 30%;
    box-shadow: 0.5rem 0.5rem 0.5rem #bcbfc2, 0.5rem 0.5rem 0.5rem #fff;
    margin-left: 2rem;
    background-color: #f8f8ff;
    padding-top: 1%;
}

/* Adjust card and card-image styles */
/* Adjust card-content styles */
.card {
    margin-bottom: 20px; 
    background-color: #eee;
    display: flow;
}

.card-hero {
    margin-bottom: 20px; 
    background-color: #eee;
    display: flow;
}

.card .card-image {
    height: 300px; 
    overflow: hidden; 
}

.card-title {
    color: #8b3747;
    font-weight: 600;
}

.card-panel {
    border-radius: 30px;
}

.card .card-content {
    padding: 15px; 
}

.row-one .col .s12 .col .m6 col. l4 {
    display: ruby-base;

}

.wrapper {
    border: 5px solid #424242;
    box-shadow: 0.5rem 0.5rem 0.5rem #bcbfc2, 0.5rem 0.5rem 0.5rem #fff;
    background: #eee;
    margin: 0 auto;
}

.wrapper-cat {
    border: 5px solid #424242;
    box-shadow: 0.5rem 0.5rem 0.5rem #bcbfc2, 0.5rem 0.5rem 0.5rem #fff;
    background: #fff0f5;
    width: 70%;
}

.radius {
    border-radius: 10px;
    width: auto;
}

.radius-recipe {
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 5%;
    padding-bottom: 3%;
}

.input-field>label {
    color: #000000;
    position: static;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: #fff;
}

/* edit_recipe.html */
#edit-container {
    padding: 15px;
    padding-left: 30px;
    background: #eee;
    padding-right: 30px;
    align-content: space-around;
}

.row-edit {
    width:auto
}

#recipe-btn {
    padding-bottom: 4.5%;
}

/* recipe_description.html*/
#r-descript {
    background: #eee;
}

.description {
    font-size: xx-large;
    font-weight: bolder;
    color: #e63253;
    text-align: left;
    text-decoration: underline;
}

#text {
    font-size: larger;

}
ul:not(.browser-default)>li {
    font-size: xx-large;
    text-align: left;
    color: #000000;
}

.recipe-one {
    color: #000000;
    font-size: xx-large;
    text-align: left;

}
.recipe-info {
    color: #000000;
    font-size: xx-large;
    text-align: left;
}

.row-one {
    margin: 0 auto;
}

.row-one .col .s12 {
    width: 100%;
    display: inline-block;
}

.row {
    margin: 0;
}

.modal-content {
    color: #000000;
}

.input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
}

/* Media query for tablet */
@media(min-width: 601px) and (max-width: 992px){
    .container {width: 90%}
    }
