@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* logo */
.logo-fork {
    height: 100%; 
}

/* Hero */
.container {
    width: -webkit-fill-available;
    margin-block: 4.5px;
}

.hero {
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    width: 100%;
}

.hero-text {
    font-family: 'Roboto', sans serif;
    text-align: right;
    font-weight: bolder;
}

.row {
    margin-top: 20px;
}

.col .row {
    margin: 0%;
}

.btn-large {
    background-color: red;
}
