@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/hero.jpg");
    background-position: center;
    
}

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 95%;
  }

.page-header, .page-footer {
    flex-grow: 0;
    flex-shrink: 0;
}

  .page-body {
    flex-grow: 1;
}

.text-shadow {
    text-shadow: 2px 2px 2px #00000080;
}

.flashes h4 {
    line-height: 1.5;
    margin-top: 1%;
} 

h1 {
    font-weight: 600;
    text-align: center;
    color: #004d40;
    font-size: xx-large;
}

.title {
    font-size: xx-large;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
    font-size: xx-large;
}

h3 {
    font-size: small;
}

.heading {
    font-size: xx-large;
}

h5 {
    background-color: #8b3747;
    color: white;
    font-size: large;
}

h6 {
    font-size: smaller;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border: 1px solid #9e9e9e;
}

/* logo */
.logo-fork {
    height: 100%; 
}

/* Hero */
.container {
    width: 100%;
    height: 100%;
}

.hero {
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0.5rem 0.5rem 0.5rem #bcbfc2, 0.5rem 0.5rem 0.5rem #fff;
}

.hero-text {
    font-size: x-large;
    text-align: end;
    padding: 2%;
    margin-top: 1%;
    background-color: #8b3747d9;
    color: #fff;
}

/* navbar */
nav ul a {
    font-size: 1.5rem;
}

.sidenav {
    top: auto;
    padding-top: 2%;
}

/* login.html & register.html */
.login {
    font-size: x-large;
    background: #778667;
}

#info-log {
    margin-left: 1.5%;
    width: 97%;
}

#login-page {
    width: 65%;
}

.wrapper-log {
    margin-left: 20%;
    margin-top: 2%;
}

div#info-log.login.col.s12 {
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
}

div.row-reg {
    margin-bottom: 15%;
}

.center, .center-align {
    text-align: center;
    color: #fff;
    margin: 0;
}

.row-log {
    margin: 0 auto;
    padding-top: 2%;
}

.row-reg {
    padding-bottom: 2%;
}

.reg-link {
    color: #d163b6;
}

.card-panel {
    background: #eee;
    padding-bottom: 4.5%;
    padding-bottom: 4.5%;
    margin-bottom: 0;
}

/* profile.html */

#profile-info {
    font-size: initial;
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: 0.5rem 0.5rem 0.5rem #bcbfc2, 0.5rem 0.5rem 0.5rem #fff;
    border: 5px solid #424242;
}

.teal-text.text-darken-4 {
    color: #004d40 !important;
    font-size: xx-large;
    padding-top: 3%;
}

/* Adjust button styles */
.pink.accent-2 {
    background-color: #424242 !important;
} 

#delete-btn {
    margin-left: 3%;
    margin-bottom: 2%;
    background-color: red;
    margin-top: 1.1%;
}

.red.darken-1 {
    background-color: #E53935 !important;
    border: none;
    font-weight: normal;
}

.amber.accent-1 {
    background-color: #ffe57f !important;
    border: 2px solid #424242 ;
    border-radius: 6px;
    margin: 5px;
}

.btn-large {
    border: 2px solid #424242 ;
    border-radius: 6px;
    font-weight: bold;
    background-color: #ff0000;
}

.btn {
    font-size: 20px;
    font-weight: 800;
    background-color: #d163b6;
    color: #faebd7;
}

#red-btn {
    width: -webkit-fill-available;
}

#login-button {
    background-color: #004d40;
}

.green.darken-3 {
    background-color: #2E7D32 !important;
    width: -webkit-fill-available;
} 

/* add_recipe.html */
.input-field>label {
    font-size: small;
}

/* categories.html*/

.category-card {
    border-style: groove;
    box-shadow: none;
}

.row-category {
    margin-bottom: 5%;
}

#edit-div {
    width: 70%;
    height: auto;
}

.row-one .col .s12 {
    position: relative;
}

#cat-div {
    background-image: url("../images/categories.jpg");
    background-size: 100%;
    padding-top: 3%;
    background-size: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
}

.grey.lighten-3 {
    background-color: #fafafa !important;
    margin-bottom: 5%;
}

#add-div {
    width: 70%
}

#all-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
}

#edit-cat {
    padding-top: 4%;
    padding-bottom: 4%;
    border: none;
}

.row .col.s12 {
    margin-left: auto;
    padding-top: 1%;
}

.row-description {
    margin: 0;
    width: 99%;
}

.description-cat {
    font-size: x-large;
    font-weight: bolder;
    color: #424242;;
    text-align: center;
}

/* recipes.html */

.link {
    color: #e63253;
}

.yellow {
    margin-right: 87%;
    margin-top: 6%;
}

.card .card-content {
    padding: 15px;
}

.activator {
    width: 100%;
}

div.card.col.s12.l3.recipe-card {
    box-shadow: 0.5rem 0.5rem 0.5rem #bcbfc2, 0.5rem 0.5rem 0.5rem #fff;
    background-color: #f8f8ff;
    padding-top: 4%;
    margin-left: 1%;
    min-width: auto;
    margin-right: 7.3%;
}


.card .col .m6 .col .l3 {
    width: 30%
}

/* Adjust card and card-image styles */
/* Adjust card-content styles */
.card {
    margin-bottom: 20px; 
    background-color: #eee;
    display: flow;
}

.card-hero {
    margin-bottom: 20px; 
    background-color: #eee;
    display: flow;
    margin-left: 30%;
    margin-top: 30%;
}

.card .card-image {
    height: 300px; 
    overflow: hidden; 
}

.card-title {
    color: #424242;;
    font-weight: 600;
}

.card .card-content {
    padding: 15px; 
}

.row-one .col .s12 .col .m6 col. l4 {
    display: ruby-base;

}

.wrapper {
    border: 5px solid #424242;
    background: #eee;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

main.container.wrapper {
    min-height: 90vh;
    border: none;
    background-color: transparent;
}

.wrapper-red {
    border: 5px solid #424242;
    background: #eee;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper-reg {
    padding-top: 3%;
}

.radius-recipe {
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 5%;
    padding-bottom: 3%;
}

.input-field>label {
    color: #000000;
    position: static;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: #fff;
}

/* edit_recipe.html */
#edit-container {
    padding: 15px;
    padding-left: 30px;
    background: #eee;
    padding-right: 30px;
    align-content: space-around;
}

.row-edit {
    width:auto
}

/* recipe_description.html*/
#r-descript {
    background: #eee;
}

.description {
    font-size: xx-large;
    font-weight: bolder;
    color: #e63253;
    text-align: left;
    text-decoration: underline;
}

#text {
    font-size: larger;
}

ul:not(.browser-default)>li {
    font-size: x-large;
    text-align: left;
    color: #000000;
}

.recipe-one {
    color: #000000;
    font-size: x-large;
    text-align: left;
}

.recipe-info {
    color: #000000;
    font-size: x-large;
    text-align: left;
}

.row-one {
    margin: 0 auto;
}

.row-one .col .s12 {
    width: 100%;
    display: inline-block;
}

.row {
    margin: 0;
}

a {
    color: #ffc335;
}

.modal-content {
    color: #000000;
}

.input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
}

/* Sticky footer */

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #424242;
}

.error {
    text-align: center;
    font-size: xxx-large;
}

.name {
    font-size: x-small;
}

/* Media query for tablet */
@media(min-width: 601px) and (max-width: 992px){
    .container {width: 90%}
    }
