@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/hero.jpg")
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 1.5;
} 

h1 {
    text-align: center;
    color: rgb(85, 107, 47);
}

h2 {
    font-weight: bold;
    text-decoration: underline;
}

h4 {
    font-size: xxx-large;
}

h5 {
    background-color: #8b3747e3;
    color: white;
    font-size: 1.5rem;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border: 1px solid #9e9e9e;
}

/* logo */
.logo-fork {
    height: 100%; 
}

/* Hero */
.container {
    margin-block: 4.5px;
    margin-top: 2%;
}

.hero {
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    width: 100%;
}

.hero-text {
    font-family: 'Roboto', sans serif;
    font-weight: bolder;
}

/* navbar */
nav ul a {
    font-size: 1.5rem;
}

/* profile.html */

#profile-info {
    font-size: xxx-large;
}

.teal-text.text-darken-4 {
    color: #004d40 !important;
    font-size: 5rem;
}

/* buttons */
#edit-btn{
    display: block;
    margin-left: 2%;
}

.btn-large {
    height: fit-content;
    font-size: x-large;
    background-color: red;
}

.btn {
    font-size: 20px;
    font-weight: 800;
    background-color: #d163b6;
    color: antiquewhite;
}

/* categories.html*/

.row-category {
    margin-bottom: 5%;
}

/* recipes.html */

.link {
    color: #e63253;
    font-size: larger;
}


