@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/hero.jpg")
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 1.5;
    margin-top: 1%;
} 

h1 {
    text-align: center;
    color: rgb(85, 107, 47);
}

h2 {
    font-weight: bold;
    text-decoration: underline;
}

h4 {
    font-size: xxx-large;
}

h5 {
    background-color: #8b3747e3;
    color: white;
    font-size: 1.5rem;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border: 1px solid #9e9e9e;
}

/* logo */
.logo-fork {
    height: 100%; 
}

/* Hero */
.row-hero {
    
}
.container {
    margin-block: 4.5px;
    margin-top: 2%;
    width: 100%;
    height: 100%;
}

.hero {
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.hero-text {
    font-family: 'Roboto', sans serif;
    font-weight: bold;
    font-size: xx-large;
    text-align: end;
    padding-right: 2%;
}

/* navbar */
nav ul a {
    font-size: 1.5rem;
}

/* login.html */
.login {
    font-size: xx-large;
    background: #8b3747;
}

.center, .center-align {
    text-align: center;
    color: white;
    margin: 0;
}

.reg-link {
    color: #d163b6;
}

.card-panel {
    background: #eee;
}

/* profile.html */

#profile-info {
    font-size: xxx-large;
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: 0.5rem 0.5rem 0.5rem #bcbfc2, 0.5rem 0.5rem 0.5rem #fff;
    border: 5px solid #424242;
}

.teal-text.text-darken-4 {
    color: #004d40 !important;
    font-size: 5rem;
}

/* Adjust button styles */
#delete-btn, #edit-btn {
    margin-top: 10px;
}

.row-btn {
    padding-bottom: 2%;
}

#delete-btn {
    margin-left: 2%;
    margin-bottom: 2%;
}

.amber.accent-1 {
    background-color: #ffe57f !important;
    border: 2px solid rgb(66 66 66);
    border-radius: 6px;
    margin: 5px;
}

.btn-large-one {
    height: 60px;
    width: 60px;
    line-height: inherit;
}

/* add_recipe.html */
.input-field>label {
    font-size: 1.5rem;
}

#edit-btn{
    display: block;
    margin-left: 2%;
}

.btn-large {
    height: fit-content;
    font-size: large;
    border: 2px solid rgb(66 66 66);
    border-radius: 6px;
    margin: 5px;
    font-weight: bold;
}

.btn {
    font-size: 20px;
    font-weight: 800;
    background-color: #d163b6;
    color: antiquewhite;
}

#login-button {
    background-color: #004d40;
}

/* categories.html*/

.row-category {
    margin-bottom: 5%;
}

#edit-div {
    width: 70%;
    height: auto;
}

.row-one .col .s12 {
    position: relative;
}

/* recipes.html */
/* Adjust card and card-image styles */

.link {
    color: #e63253;
    font-size: larger;
}

/* Adjust card-content styles */
.card {
    width: 100%;
    margin-bottom: 20px; 
}

.card .card-image {
    height: 300px; 
    overflow: hidden; 
}

.card-title {
    color: #8b3747;
}

.card-panel {
    border-radius: 30px;
}

.card .card-content {
    padding: 15px; 
}

.wrapper {
    border: 5px solid #424242;
    box-shadow: 0.5rem 0.5rem 0.5rem #bcbfc2, 0.5rem 0.5rem 0.5rem #fff;
    background: lavenderblush;
    height: 140vh;
    width: fit-content;

}

.radius {
    border-radius: 10px;
}

.input-field>label {
    color: #000000;
    position: static;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: white;
}

/* edit_recipe.html */
#edit-container {
    padding: 15px;
    padding-left: 30px;
    background: #eee;
    padding-right: 30px;
}

/* recipe_description.html*/
#r-descript {
    background: #eee;
}

.description {
    text-align: center;
    font-size: x-large;
    color: #e63253;
}

#text {
    font-size: larger;

}
ul:not(.browser-default)>li {
    font-size: large;
    text-align: left;
}

.recipe-one {
    color: #000000;
    font-size: large;
    text-align: left;

}
.recipe-info {
    color: #000000;
    font-size: small;
    text-align: left;
}

.row-one .col {
    margin: 0.4%;
    box-shadow: 0.5rem 0.5rem 0.5rem #bcbfc2, 0.5rem 0.5rem 0.5rem #fff;
}

.row-one {
    margin: 0 auto;
    display: ruby;
}

.col .s12 .m6 .l4 {

}

.modal-content {
    color: #000000;
}

/* Media query for tablet */
@media(min-width: 601px) and (max-width: 992px){
    .container {width: 90%}
    }
