{% extends "base.html" %}
{% block content %}
    <div class="container wrapper bg-dark radius">
        <h1>Add Category</h1>
        <div class="row">
            <div class="col s12 m10 offset-m1 card-panel grey lighten-3 radius">
                <form class="col s12" method="POST" action="{{ url_for('add_category') }}">
                    <!-- Category name -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fa-solid fa-folder-open prefix"></i>
                            <input id="category_name" name="category_name" minlength="3" maxlength="30" type="text" class="validate" required>
                            <label for="category_name">Category Name</label>
                        </div>
                    </div>
                    <!-- Submit button -->
                    <div class="row">
                        <!-- Cancel -->
                        <a class="col s6 deep-red btn-large center-align" href="{{ url_for('categories') }}">Cancel
                        <i class="fa-solid fa-ban prefix"></i></a>
                        <!-- Add Category -->
                        <button type="submit" class="col s6 amber accent-1 black-text btn-large">Add Category
                            <i class="fa-solid fa-square-plus right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}