<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/images/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/static/images/favicon/android-chrome-512x512.png">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">
    {% block styles %}
    {% endblock %}
    <title>Foodwise</title>
</head>
<body>
    <header>
        <!-- top navbar -->
		<nav class="nav-extended text-shadow grey darken-3">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo logo-fork">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                </a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="{{ url_for('home') }}">Home</a></li>
                    {% if session.user %}
					<li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('categories') }}">Categories</a></li>
					<li><a href="{{ url_for('recipes') }}">Recipes</a></li>
					<li><a href="{{ url_for('add_recipe') }}">Add Recipes</a></li>
					<li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
					<li><a href="{{ url_for('login') }}">Log In</a></li>
					<li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
				</ul>
			</div>
		</nav>

        <!-- mobile sidenav -->
		<ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align green-text lighten-3 text-darken 4">Foodwise</h4></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('categories') }}">Categories</a></li>
            <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
            <li><a href="{{ url_for('add_recipe') }}">Add Recipes</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
		</ul>
	</header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="orange lighten-3 white-text center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container wrapper">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="page-footer my-footer">
        <div class="footer-copyright black-text">
            <div class="container center-align">&copy;FoodWise 2024</div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>