{% extends "base.html" %}
{% block content %}
<div class="container wrapper bg-dark radius">
    <h1>Categories</h1>
    <div class="row form">
        <!-- Add category button -->
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category') }}"
                class="amber accent-1 black-text btn-large">Add
                Category <i class="fa-solid fa-plus"></i></a>
        </div>
    </div>
    <!-- Available categories -->
    <div class="row-one">
        {% for category in categories %}
        <div class="col s12 m6 l3">
            <div class="card-panel grey lighten-3 radius center-align">
                <div class="card-content black-text {{ category.category_color }}">
                    <h4 class="card-title">{{ category.category_name }}</h4>
                    <p class="description">{{ category.category_description }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('edit_category', category_id=category._id) }}"
                        class="pink accent-2 waves-effect waves-green white-text btn-large">Edit</a>
                        <a class="pink accent-2 waves-effect waves-green black-text btn-large delete-btn modal-trigger" href="{{ url_for('delete_category', category_id=category._id) }}">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}