{% extends "base.html" %}
{% block content %}
<div class="row-edit col s12 wrapper bg-dark radius" id="edit-container">
    <h1>Edit Recipe</h1>
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!-- Recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-pencil prefix"></i>
                    <label for="recipe_name">Recipe Name</label>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{ recipe.recipe_name }}" required>
                </div>
            </div>
            <!-- Recipe description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-align-left prefix"></i>
                    <label for="recipe_description">Description</label>
                    <textarea id="recipe_description" name="recipe_description" class="materialize-textarea" required>{{ recipe.recipe_description }}</textarea>
                    
                </div>
            </div>
            <!-- Ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-apple-whole prefix"></i>
                    <label for="ingredients">Ingredients</label>&nbsp;&nbsp;<small>Format: ['Ingredient 1', 'Ingredient 2', 'Ingredient 3']</small>
                    <textarea id="ingredients" name="ingredients" class="materialize-textarea" required>{{ recipe.ingredients }}</textarea>
                </div>
            </div>
            <!-- Preparation -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-book-open prefix"></i>
                    <label for="preparation">Preparation</label>&nbsp;&nbsp;<small>Format:['1: Do this', '2: Do that', '3: Finish up']</small>
                    <textarea id="preparation" name="preparation" class="materialize-textarea" required>{{ recipe.preparation }}</textarea>
                </div>
            </div>
            <!-- Serve Time -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-user-group prefix"></i>
                    <label for="serve">Serves (people)</label>
                    <input id="serve" name="serve" type="number" class="validate" value="{{ recipe.serves }}" required>
                </div>
            </div>
            <!-- Cook time -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-regular fa-clock prefix"></i>
                    <label for="cook_time">Cook Time (in minutes)</label>
                    <input id="cook_time" name="cook_time" type="number" class="validate" value="{{ recipe.cook_time }}" required>   
                </div>
            </div>
            <!-- Category Selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-folder-open prefix"></i>
                    <label for="category_id">Category</label>
                    <select id="category_id" name="category_id" class="validate" required>
                        <option value="" disabled>Select Category</option>
                        {% for category in categories %}
                            <option value="{{ category._id }}" {% if category._id == recipe.category_id %}selected{% endif %}>{{ category.category_name }}</option>
                        {% endfor %}
                    </select>            
                </div>
            </div>
            <!-- photo_url -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-image prefix"></i>
                    <input id="image_url" name="image_url" type="url" class="validate" value="{{ recipe.image_url }}">
                    <label for="image_url">Photo URL Link (optional)</label>
                </div>
            </div>
            <!-- Buttons Section -->
            <div class="row">
                <div class="col s6">
                    <button type="submit" class="btn-large green darken-3">Update Recipe</button>
                </div>
                <div class="col s6">
                    <a class="btn-large deep-red" href="{{ url_for('recipes') }}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
