{% extends "base.html" %}
{% block content %}

<div class="row-hero">
    <div class="col s12 hero valign-wrapper">
        <div class="col s12 card-hero transparent z-depth-5" id="home-info">
            <h5 class="col s7 push-s5 hero-text">Are you in search of family-friendly recipes that are healthy for everyone in your household?<br><br>You’ve landed at the right spot!<br><br>The platform place to add and share your
                favourite recipes with others!
            </h5>
              
        </div>
    </div>
</div>
 
{% endblock %}