{% extends "base.html" %}

{% block content %}
<div class="row col s12"></div>
    <div class="row-edit wrapper bg-dark radius" id="edit-container">
        <h1>Recipes <a href="{{ url_for('add_recipe') }}" class="btn-floating btn-large-one green" id="recipe-btn"><i class="fa-solid fa-plus"></i></a></h1>
    <div class="row">
        <!-- Display all available recipes -->
        {% for recipe in recipes %}
        <div class="card col s12" id="recipe-card">
        <!-- Recipe image -->
        {% if recipe.photo_url %}
        <img class="activator" src="{{ recipe.photo_url }}" alt="{{ recipe.recipe_name }}">
        {% else %}
        <img class="activator" src="static/images/stock-image.jpg" alt="Stock image">
        {% endif %}
        <!-- Recipe Title -->
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    <h3>{{ recipe.recipe_name }}<i class="fa-solid fa-ellipsis right"></i></h3>
                </span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><h3>{{ recipe.recipe_name }}</h3><i class="fa-solid fa-xmark right"></i></span>
                    <h6>Posted by: {{ recipe.created_by }}</h6>
                    <h5>Description</h5>
                    <p class="recipe-info">{{ recipe.recipe_description }}</p>
                    <h5>Serves</h5>
                    <p class="recipe-info">{{ recipe.serves }} mins</p>
                    <h5>Cooking time</h5>
                    <p class="recipe-info">{{ recipe.cook_time }} mins</p>
                    <h5>Category</h5>
                    {% for category in categories %}
                    {% if category.id == recipe.category_id | int %}
                        <p class="recipe-info">{{ category.category_name }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="row-btn">
                    <div class="col s3 center-align">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" id="edit-btn" class="btn-floating btn-large-one yellow"><i class="fa-regular fa-pen-to-square"></i></a>
                    </div>
                </div>
                <h3><a href="{{ url_for('recipe_description', recipe_id=recipe._id) }}" class="link"><bold>Click for recipe</bold></a></h3>
                <!-- Modal Trigger -->
                <a href="#modal1" id="delete-btn" class="waves-effect waves-light btn-floating btn-large-one modal-trigger"><i class="fa-solid fa-trash"></i></a>

                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Deleting Recipe</h4>
                        <p>Please confirm you are sure you want to delete "{{ recipe.recipe_name }}"? This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
                    </div>
                </div>
        </div>
{% endfor %}
</div>
{% endblock %}
