{% extends "base.html" %}

{% block content %}
<div class="col s12 wrapper bg-dark radius-recipe">
    <div class="row-info">
        <div class="col s12 center-align" id="r-descript">
            <div class="card-content">
                <div class="recipe-text">
                    <h2>{{ recipe.recipe_name }}</h2>
                    <p class="description"><strong>Description:</strong></p>
                    <p class="recipe-one"> {{ recipe.recipe_description }} </p>
                    <p class="description"><strong>Ingredients:</strong></p>
                    <p class="recipe-one"> {{ recipe.ingredients }} </p>
                    <p class="description"><strong>Preparation:</strong></p>
                    <p class="recipe-one"> {{ recipe.preparation }} </p>
                    <p class="description"><strong>Serves:</strong></p>
                    <p class="recipe-info"> {{ recipe.serves }}</p>
                    <p class="description"><strong>Cooking Time:</strong></p>
                    <p class="recipe-info"> {{ recipe.cook_time }} mins</p>
                    <p class="description"><strong>Category:</strong></p>
                    <p class="recipe-info"> {{ recipe.category_name }}</p>
                    <p class="description"><strong>Posted By:</strong></p>
                    <p class="recipe-info"> {{ recipe.created_by }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
